.card {
	&-filters {
		display: flex;
		flex-wrap: wrap;
		margin: -8px;

		span {
			display: block;
			background: #FFFFFF;
			box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
			border-radius: 50px;
			margin: 8px;
			width: fit-content;
			height: 30px;
			padding: 4px 20px;
			min-width: 70px;
			font-size: 16px;
			line-height: 19px;
			color: #A9A9A9;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 1;


			&:nth-child(3n), &:nth-child(3n-1) {
				flex-grow: 1;
			}
		}
	}
}
